
// Conv Variables
// Colours
$gray-smooth: #eee;
$primary-color: #333;
$white: #fff;
$black: #000;
$gray: #ccc;
$gray-darkwater: #ddd;
$gray-dark: #999;
$conv-divine: #777;
$conv-against: #666;
$arrow-select: #2b303b;

// ColorPicker From White To Black Colors
$neutral-picker: (
	"color0": #fff,
	"color1": #f5f5f5,
	"color2": #ebebeb,
	"color3": #e0e0e0,
	"color4": #d6d6d6,
	"color5": #ccc,
	"color6": #c2c2c2,
	"color7": #b8b8b8,
	"color8": #adadad,
	"color9": #a3a3a3,
	"color10": #999,
	"color11": #8f8f8f,
	"color12": #858585,
	"color13": #7a7a7a,
	"color14": #707070,
	"color15": #666,
	"color16": #5c5c5c,
	"color17": #525252,
	"color18": #474747,
	"color19": #3d3d3d,
	"color20": #333,
	"color21": #292929,
	"color22": #1f1f1f,
	"color23": #141414,
	"color24": #0a0a0a,
	"color25": #000,
);

// Color Picker For Blue & Cyan Colors 
$blue-picker: (
	"color26": #e5f1ff,
	"color27": #cce4ff,
	"color28": #b2d7ff,
	"color29": #99caff,
	"color30": #7fbdff,
	"color31": #66afff,
	"color32": #4ca2ff,
	"color33": #3295ff,
	"color34": #1988ff,
	"color35": #007bff,
	"color36": #006ee5,
	"color37": #0062cc,
	"color38": #0056b2,
	"color39": #004999,
	"color40": #003d7f,
	"color41": #003166,
	"color42": #00244c,
	"color43": #001833,
	"color44": #000c19,
	"color45": #e7f5f7,
	"color46": #d0ecf0,
	"color47": #b9e3e9,
	"color48": #a2d9e2,
	"color49": #8bd0db,
	"color50": #73c7d4,
	"color51": #5cbdcd,
	"color52": #45b4c6,
	"color53": #2eabbf,
	"color54": #17a2b8,
	"color55": #1491a5,
	"color56": #128193,
	"color57": #107180,
	"color58": #0d616e,
	"color59": #0b515c,
	"color60": #094049,
	"color61": #063037,
	"color62": #042024,
	"color63": #021012,
);

// Color Picker For Green Colors
$green-picker: (
	"color64": #e9f6ec,
	"color65": #d4edd9,
	"color66": #bee4c7,
	"color67": #a9dbb4,
	"color68": #93d3a2,
	"color69": #7eca8f,
	"color70": #68c17c,
	"color71": #52b86a,
	"color72": #3daf57,
	"color73": #28a745,
	"color74": #24963e,
	"color75": #208537,
	"color76": #1c7430,
	"color77": #186429,
	"color78": #145322,
	"color79": #10421b,
	"color80": #0c3214,
	"color81": #08210d,
	"color82": #041006,
	"color83": #e8f9f4,
	"color84": #d2f4ea,
	"color85": #bceedf,
	"color86": #a5e9d5,
	"color87": #8fe4cb,
	"color88": #79dec0,
	"color89": #62d9b6,
	"color90": #4cd3ab,
	"color91": #36cea1,
	"color92": #20c997,
	"color93": #1cb487,
	"color94": #19a078,
	"color95": #168c69,
	"color96": #13785a,
	"color97": #10644b,
	"color98": #0c503c,
	"color99": #093c2d,
	"color100": #06281e,
	"color101": #03140f, 
);

// Color Picker For Purple Colors
$purple-picker: (
	"color102": #f0ecf8,
	"color103": #e2d9f2,
	"color104": #d3c6ec,
	"color105": #c5b3e6,
	"color106": #b7a0e0,
	"color107": #a88dd9,
	"color108": #9a7ad3,
	"color109": #8b67cd,
	"color110": #7d54c7,
	"color111": #6f42c1,
	"color112": #633bad,
	"color113": #58349a,
	"color114": #4d2e87,
	"color115": #422773,
	"color116": #372160,
	"color117": #2c1a4d,
	"color118": #211339,
	"color119": #160d26,
	"color120": #0b0613,	
);

// Color Picker For Pink Colors
$pink-picker: (
	"color121": #fcebf3,
	"color122": #fad8e8,
	"color123": #f8c5dc,
	"color124": #f5b1d1,
	"color125": #f39ec5,
	"color126": #f18bba,
	"color127": #ee77ae,
	"color128": #ec64a3,
	"color129": #ea5197,
	"color130": #e83e8c,
	"color131": #d0377e,
	"color132": #b93170,
	"color133": #a22b62,
	"color134": #8b2554,
	"color135": #741f46,
	"color136": #5c1838,
	"color137": #45122a,
	"color138": #2e0c1c,
	"color139": #17060e,
);

// Color Picker For Red Colors
$red-picker: (
	"color140": #fbeaec,
	"color141": #f8d6d9,
	"color142": #f4c2c7,
	"color143": #f1aeb4,
	"color144": #ed9aa2,
	"color145": #ea858f,
	"color146": #e6717c,
	"color147": #e35d6a,
	"color148": #df4957,
	"color149": #dc3545,
	"color150": #c62f3e,
	"color151": #b02a37,
	"color152": #9a2530,
	"color153": #841f29,
	"color154": #6e1a22,
	"color155": #58151b,
	"color156": #420f14,
	"color157": #2c0a0d,
	"color158": #160506,
);

// Color Picker For Orange Colors
$orange-picker: (
	"color159": #fef2e7,
	"color160": #fee5d0,
	"color161": #fed8b8,
	"color162": #fecba1,
	"color163": #febe89,
	"color164": #fdb172,
	"color165": #fda45a,
	"color166": #fd9742,
	"color167": #fd8a2b,
	"color168": #fd7e14,
	"color169": #e37112,
	"color170": #ca6410,
	"color171": #b1580e,
	"color172": #974b0c,
	"color173": #7e3f0a,
	"color174": #653208,
	"color175": #4b2506,
	"color176": #321904,
	"color177": #190c02,
);

// Color Picker For Yellow Colors
$yellow-picker: (
	"color178": #fff8e6,
	"color179": #fff2cd,
	"color180": #ffecb4,
	"color181": #ffe69b,
	"color182": #ffe083,
	"color183": #ffd96a,
	"color184": #ffd351,
	"color185": #ffcd38,
	"color186": #ffc71f,
	"color187": #ffc107,
	"color188": #e5ad06,
	"color189": #cc9a05,
	"color190": #b28704,
	"color191": #997304,
	"color192": #7f6003,
	"color193": #664d02,
	"color194": #4c3902,
	"color195": #332601,
	"color196": #191300,
);

// Color Picker For Salmon Colors
$salmon-picker: (
	"color197": #fef9f7,
	"color198": #fef4ef,
	"color199": #feefe7,
	"color200": #feeae0,
	"color201": #fee5d8,
	"color202": #fde0d0,
	"color203": #fddbc9,
	"color204": #fdd6c1,
	"color205": #fdd1b9,
	"color206": #fdccb2,
	"color207": #e3b7a0,
	"color208": #caa38e,
	"color209": #b18e7c,
	"color210": #977a6a,
	"color211": #7e6659,
	"color212": #655147,
	"color213": #4b3d35,
	"color214": #322823,
);

// Extra Colors
$extra-picker: (
	"color215": #09080A,
	"color216": #676561,
	"color217": #87837C,
	"color218": #493A36,
	"color219": #5F2806,
	"color220": #B4B18C,
	"color221": #C7C59D,
	"color222": #A09773,
	"color223": #857FA1,
);
// CSS implementation
// Instead of $color-picker-#{bright}
// background-color: map-get($color-picker, "bright");



// Back table
$table-tr-hover: #f5f5f5;

// borders
$border-default-box: rgba(0, 0, 0, 0.15);

// RGBA BLACK
$rgba-black-1: rgba(0,0,0,1); // Black with opacity 1

$rgba-black-01: rgba(0,0,0,0.1); // Black with opacity 0.1

$rgba-black-015: rgba(0,0,0,0.15); // Black with opacity 0.15

$rgba-black-02: rgba(0,0,0,0.2); // Black with opacity 0.2

$rgba-black-002: rgba(0,0,0,0.02); // Black with opacity 0.02

$rgba-black-025: rgba(0,0,0,0.25); // Black with opacity 0.25

$rgba-black-0025: rgba(0,0,0,0.025); // Black with opacity 0.025

$rgba-black-03: rgba(0,0,0,0.3); // Black with opacity 0.3

$rgba-black-035: rgba(0,0,0,0.35); // Black with opacity 0.35

$rgba-black-04: rgba(0,0,0,0.4); // Black with opacity 0.4

$rgba-black-045: rgba(0,0,0,0.45); // Black with opacity 0.45

$rgba-black-05: rgba(0,0,0,0.5); // Black with opacity 0.5

$rgba-black-005: rgba(0,0,0,0.05); // Black with opacity 0.05

$rgba-black-055: rgba(0,0,0,0.55); // Black with opacity 0.55

$rgba-black-06: rgba(0,0,0,0.6); // Black with opacity 0.6

$rgba-black-065: rgba(0,0,0,0.65); // Black with opacity 0.65

$rgba-black-07: rgba(0,0,0,0.7); // Black with opacity 0.7

$rgba-black-075: rgba(0,0,0,0.75); // Black with opacity 0.75

$rgba-black-08: rgba(0,0,0,0.8); // Black with opacity 0.8

$rgba-black-085: rgba(0,0,0,0.85); // Black with opacity 0.85

$rgba-black-09: rgba(0,0,0,0.9); // Black with opacity 0.9

$rgba-black-095: rgba(0,0,0,0.95); // Black with opacity 0.95

$rgba-black-0: rgba(0,0,0, 0); // Black width opacity 0

// RGBA WHITE
$rgba-white-1: rgba(255,255,255,1); // White with opacity 1

$rgba-white-01: rgba(255,255,255,0.1); // White with opacity 0.1

$rgba-white-015: rgba(255,255,255,0.15); // White with opacity 0.15

$rgba-white-02: rgba(255,255,255,0.2); // White with opacity 0.2

$rgba-white-025: rgba(255,255,255,0.25); // White with opacity 0.25

$rgba-white-03: rgba(255,255,255,0.3); // White with opacity 0.3

$rgba-white-035: rgba(255,255,255,0.35); // White with opacity 0.35

$rgba-white-04: rgba(255,255,255,0.4); // White with opacity 0.4

$rgba-white-045: rgba(255,255,255,0.45); // White with opacity 0.45

$rgba-white-05: rgba(255,255,255,0.5); // White with opacity 0.5

$rgba-white-055: rgba(255,255,255,0.55); // White with opacity 0.55

$rgba-white-06: rgba(255,255,255,0.6); // White with opacity 0.6

$rgba-white-065: rgba(255,255,255,0.65); // White with opacity 0.65

$rgba-white-07: rgba(255,255,255,0.7); // White with opacity 0.7

$rgba-white-075: rgba(255,255,255,0.75); // White with opacity 0.75

$rgba-white-08: rgba(255,255,255,0.8); // White with opacity 0.8

$rgba-white-085: rgba(255,255,255,0.85); // White with opacity 0.85

$rgba-white-09: rgba(255,255,255,0.9); // White with opacity 0.9

$rgba-white-095: rgba(255,255,255,0.95); // White with opacity 0.95

$rgba-white-0: rgba(255,255,255, 0); // White with opacity 0

// Currencies
$pound: £; // £ -- &pound;
$dollar: usd; // $ -- &dollar
$euro: €; // € -- &euro

// Buttons
$btnconv-active: #0A9A7A;
$btnconv-reject: #cc0000;

// Baics Padds and Margs
$main-grid-padd: 12px;
$grid-conv-padd: 10px;
$null-conv: 0;
$none-conv: none;

// Numeric Values
$cent: 100;

$half-cent: $cent / 2; // 50

$double-cent: $cent * 2; // 200

$cent-1: $cent - 99; // 1

$cent-5: $cent - 95; // 5

$cent-10: $cent - 90; // 10

$cent-15: $cent - 85; // 15

$cent-20: $cent - 80; // 20

// Dynamic & Static Grid
$min-conv: 0%;

$max-conv-width: 100%; // Dynamic Grid

$width-conv-fix: 100px; // Static Grid

$height-conv-fix: $width-conv-fix;

$double-width-conv-fix: $width-conv-fix * 2; // 200px

$max-conv-height: $max-conv-width; // Max Height

$max-conv-left: $max-conv-width; // Max Left

$max-conv-right: $max-conv-width; // Max Right

$max-conv-bottom: $max-conv-width; // Max Bottom

$max-conv-top: $max-conv-width; // Max Top

// Grid large
$half-conv-width: $max-conv-width / 2; // 50%

$large-A20: $max-conv-width; // 100%

$large-A10: $half-conv-width; // 50%

$large-A05: $half-conv-width / 2; // 25%

$large-A00: $max-conv-width / 10; // 10% 

// Sub Grids Medium
$medium-A19: $max-conv-width - 10; // 90%

$medium-A18: $max-conv-width - 20; // 80%

$medium-A17: $half-conv-width + 20; // 70%

$medium-A16: $half-conv-width + 10; // 60%

$medium-A15: $half-conv-width + 5; // 55%   

$medium-A14: $half-conv-width - 10; // 40% 

$medium-A13: $half-conv-width - 20; // 30% 

$medium-A12: $large-A05 - 5;  // 20% 

$medium-A14-28: $medium-A12 + 4 + 0.28;  // 24.28% 

$medium-A11: $large-A00 + 5; // 15%

$medium-B11-85: $large-A00 + 1 + 0.85; // 11.85%

// Grid Small
$small-B-01: 1%;

$small-B-02: $small-B-01 * 2; // 2%

$small-B-05: $small-B-01 * 5; // 5%

$small-B-07: $small-B-05 + $small-B-02; // 7%

// Sub Grid Small
$small-A12-5: $medium-A12 + 0.5;  // 20.5% 

// Special Grid Sizes
$large-B20: $medium-A19 + $small-B-07 + 1 + 0.79; // 98.79% Special 100% Grid

$large-B10: $large-A10 - 1 + 0.1; // 49.1% -- Special 50% Grid

// Table Grid Dynamic
$table-max-05: 0.5%;

$table-max-025: $table-max-05 / 2; // 0.25%

$double-table-max-05: $table-max-05 * 2; // 1%

$table-max-2: $double-table-max-05 * 2; // 2%

$table-max: $max-conv-width; // 100%

$half-table-max: $table-max / 2; // 50%

$table-max-25: $half-table-max / 2; // 25%

$table-max-20: $table-max-25 - 5; // 20%

$table-max-24-25: $table-max-20 + 4 + $table-max-025; // 24.25%

$table-max-40: $table-max-20 * 2; // 40%

$table-max-40-25: $table-max-40 + $table-max-025; // 40.25%

$table-max-10: $table-max-20 / 2; // 10%

$table-max-12: $table-max-10 + 2; // 12%

$table-max-8: $table-max-10 - 2; // 8%

$table-max-5: $table-max-10 / 2; // 5%

$table-max-4: $table-max-5 - 1; // 4%

$table-max-7: $table-max-5 + 2; // 7%

$table-max-3: $table-max-5 - 2; // 3%

$table-max-2: $table-max-3 -1; // 2%

$table-max-15: $table-max-10 + $table-max-5; // 15%

$table-max-17: $table-max-15 + 2; //17%

$table-max-12-125: $table-max-10 + 2.125; // 12.125%

$table-max-70: $half-table-max + $table-max-20; // 70%

$table-max-75: $table-max-70 + $table-max-5; // 75%

$table-max-60: $half-table-max + $table-max-10; // 60%

$table-max-65: $table-max-60 + $table-max-5; // 65%

$table-max-55: $half-table-max + $table-max-5; // 55%

$table-max-45: $table-max-40 + $table-max-5; // 45%

$table-max-47: $table-max-45 + 2; // 47%

$table-max-30: $table-max-25 + $table-max-5; // 30%

$table-max-35: $table-max-30 + $table-max-5; // 35%

$table-max-37: $table-max-35 + 2; // 37%

$table-max-80: $table-max-75 + $table-max-5; // 80%

$table-max-85: $table-max-80 + $table-max-5; // 85%

$table-max-90: $table-max-85 + $table-max-5; // 90%

$table-max-99-5: $table-max-90 + $table-max-8 + 1 + 0.5; // 99.5%

$table-max-95: $table-max-90 + $table-max-5; // 95%

// Static Grid large
$large-fix-1000: $width-conv-fix * 10; // 1000px

$large-fix-900: $large-fix-1000 - $width-conv-fix; // 900px

$large-fix-800: $large-fix-900 - $width-conv-fix; // 800px

$large-fix-500: $large-fix-1000 / 2; // 500px

$large-fix-250: $large-fix-500 / 2; // 250px

$large-fix-200: $width-conv-fix * 2; // 200px

$large-fix-400: $large-fix-200 * 2; // 400px

$large-fix-300: $width-conv-fix * 3; // 300px

$large-fix-150: $width-conv-fix + $width-conv-fix / 2; // 150px

// Static Grid Medium
$medium-fix-small: 47px;

$medium-fix-400: $width-conv-fix * 4; // 400px

$medium-fix-447: $medium-fix-400 + $medium-fix-small; // 447px

// Static Grid Small
$small-fix-100: $large-fix-200 / 2; // 100px

$small-fix-90: $small-fix-100 - 10; // 90px

$small-fix-95: $small-fix-90 + 5; // 95px

$small-fix-97: $small-fix-95 + 2; // 97px

$small-fix-80: $width-conv-fix - 20; // 80px

$small-fix-85: $small-fix-80 + 5; // 85px

$small-fix-87: $small-fix-85 + 2; // 87px

$small-fix-70: $small-fix-80 - 10; // 70px

$small-fix-75: $small-fix-70 + 5; // 75px

$small-fix-77: $small-fix-75 + 2; // 77px

$small-fix-60: $width-conv-fix / 2 + 10; // 60px

$small-fix-65: $small-fix-60 + 5; // 65px

$small-fix-67: $small-fix-65 + 2; // 67px

$small-fix-50: $width-conv-fix / 2; // 50px

$small-fix-55: $small-fix-50 + 5; // 55px

$small-fix-57: $small-fix-55 + 2; // 57px

$small-fix-25: $small-fix-50 / 2; // 25px

$small-fix-27: $small-fix-25 + 2; // 27px

$small-fix-30: $small-fix-60 / 2; // 30px

$small-fix-33: $small-fix-30 + 3; // 33px

$small-fix-35: $small-fix-33 + 2; // 35px

$small-fix-37: $small-fix-35 + 2; // 37px

$small-fix-20: $small-fix-25 - 5; // 20px

$small-fix-40: $small-fix-20 * 2; // 40px

$small-fix-45: $small-fix-40 + 5; // 45px

$small-fix-47: $small-fix-45 + 2; // 47px

$small-fix-15: $small-fix-20 - 5; // 15px

$small-fix-14: $small-fix-15 - 1; // 14px

$small-fix-17: $small-fix-15 + 2; // 17px

$small-fix-16: $small-fix-15 + 1; // 16px

$small-fix-13: $small-fix-15 - 2; // 13px

$small-fix-10: $small-fix-20 / 2; // 10px

$small-fix-12: $small-fix-10 + 2; // 12px

$small-fix-07: $small-fix-10 - 3; // 7px

$small-fix-08: $small-fix-07 + 1; // 8px

$small-fix-06: $small-fix-07 - 1; // 6px

$small-fix-05: $small-fix-10 / 2; // 5px

$small-fix-04: $small-fix-05 - 1; // 4px

$small-fix-03: $small-fix-05 - 2; // 3px

$small-fix-01: $small-fix-03 - 2; // 1px

$small-fix-02: $small-fix-01 * 2; // 2px

$small-fix-1-05: $small-fix-01 / 2; // 0.5px

$small-fix-025: $small-fix-1-05 / 2; // 0.25px

$small-fix-0: 0px;

$small-fix-1-01: 0.1px;

$small-auto: auto;

// Neg Grid
$neg-minus-one: -1px;

$neg-minus-half: $neg-minus-one / 2; // -0.5px

$neg-minus-double: $neg-minus-one + 1; // -2px

$neg-default-grid: -10px;

$neg-default-half: $neg-default-grid / 2; // -5px

$double-neg-default-grid: $neg-default-grid + $neg-default-grid; // -20px

$neg-grid-30: $double-neg-default-grid + $neg-default-grid; // -30px

$neg-grid-50: $neg-grid-30 + $double-neg-default-grid; // -50px

$ng-grid-100: $neg-grid-50 + $neg-grid-50; // -100px

$ng-grid-150: $ng-grid-100 + $neg-grid-50; // -150px

$ng-grid-200: $ng-grid-150 + $neg-grid-50; // -200px

$ng-grid-250: $ng-grid-200 + $neg-grid-50; // -250px

$ng-gris-300: $ng-grid-200 + $ng-grid-100; // -300px

$ng-gris-400: $ng-gris-300 + $ng-grid-100; // -400px

$ng-gris-500: $ng-grid-250 + $ng-grid-250; // -500px

$ng-gris-1000: $ng-gris-500 + $ng-gris-500; // -1000px

// Static Conv Grid for Elements in Item
$grid-small-based: 100px;

$double-grid-small-based: $grid-small-based * 2; // 200px

$smll-grid-item: $double-grid-small-based + $small-fix-30; // 230px

// Table Grid Static
$table-fix-basic: 700px;

$table-fix-100: $width-conv-fix; // 100px

$table-fix-50: $table-fix-100 / 2; // 50px

$table-fix-55: $table-fix-50 + $small-fix-05; // 55px

$table-fix-40: $small-fix-40; // 40px

$table-fix-45: $table-fix-40 + $small-fix-05; // 45px

$table-fix-30: $small-fix-30; // 30px

$table-fix-35: $table-fix-30 + $small-fix-05; // 35px

$table-fix-20: $small-fix-20; // 20px

$table-fix-25: $table-fix-20 + $small-fix-05; // 25px

$half-table-fix-basic: $table-fix-basic / 2; // 350px

$table-fix-500: $table-fix-basic - $double-width-conv-fix; // 500px

$table-fix-250: $table-fix-500 / 2; // 250px

$table-fix-1000: $table-fix-500 * 2; // 1000px

$double-table-fix-basic: $table-fix-basic * 2; // 1400px

// Static Grid Heights
$height-fix-basic: $grid-small-based + $table-fix-50; // height = 150px

$half-height-fix-basic: $height-fix-basic / 2; // height = 75px

$double-height-fix-basic: $height-fix-basic * 2; // height = 300px

$height-fix-350: $double-height-fix-basic + $table-fix-50; // height = 350px

$height-fix-200: $height-fix-basic + $table-fix-50; // height = 200px

$height-fix-250: $height-fix-200 + $table-fix-50; // height = 250px

$height-fix-400: $height-fix-200 * 2; // height = 400px

$height-fix-450: $height-fix-400 + $table-fix-50; // height = 450px

$height-fix-500: $height-fix-400 + $grid-small-based; // height = 500px

$height-fix-550: $height-fix-500 + $table-fix-50; // height = 550px

$height-fix-750: $height-fix-500 + $height-fix-200 + $table-fix-50; // height = 750px

// Dynamic Grid heights
$height-conv-5: 5%; // height = 5%

$height-conv-deft: 50%; // height = 50%

$height-conv-55: $height-conv-deft + $height-conv-5; // height = 55%

$half-height-conv-deft: $height-conv-deft / 2; // height = 25% 

$height-conv-10: $height-conv-5 * 2; // height = 10%

$height-conv-15: $height-conv-10 + $height-conv-5; // height = 15%

$height-conv-20: $height-conv-10 * 2; // height = 20%

$height-conv-30: $height-conv-20 + $height-conv-10; // height = 30%

$height-conv-35: $height-conv-30 + $height-conv-5; // height = 35%

$height-conv-40: $height-conv-20 * 2; // height = 40%

$height-conv-45: $height-conv-40 + $height-conv-5; // height = 45%

$height-conv-75: $height-conv-deft + $half-height-conv-deft; // height = 75%

$height-conv-100: $height-conv-deft * 2; // height = 100%

// Opacity
$opact-1: 1; // -- 0% Opacity

$half-opact: $opact-1 / 2; // 0.5 Half Opacity

$opact-9: $opact-1 - 0.1; // 0.9

$opact-8: $opact-1 - 0.2; // 0.8

$opact-7: $half-opact + 2; // 0.7

$opact-6: $half-opact + 1; // 0.6

$opact-4: $half-opact - 1; // 0.4

$opact-3: $half-opact - 2; // 0.3

$opact-2: $opact-1 + 1; // 0.2

$opact-0: $null-conv; // 0 -- 100% opacity

// Displays
$dispnone: none;

$dispblk: block;

$dispinblk: inline-block;

$fltleft: left;

$fltright: right;

$fltnone: none;

// OverFlows
$flowHidden: hidden;

$flowAuto: auto;

$flowScroll: scroll;

$flowInitial: initial;

$flowVisible: visible;

// Z-Index values
// High Values
$zindex-value: 500;

$zindex100: $zindex-value / 5; // 100

$half-zindex-value: $zindex-value / 2; // 250

$double-zindex-value: $zindex-value * 2; // 1000

$zindex-value-2000: $double-zindex-value * 2; // 2000

// Small Values Z-Index
$zindex-smll-value: 50;

$double-zindex-smll-value: $zindex-smll-value * 2; // 100

$half-zindex-smll-value: $zindex-smll-value / 2; // 25

$zindex-smll-20: $half-zindex-smll-value - 5; // 20

$zindex-smll-10: $zindex-smll-20 / 2; // 10

$index-smll-30: $zindex-smll-20 + $zindex-smll-10; // 30

$zindex-smll-05: $zindex-smll-10 / 2; // 5

$zindex-smll-02: $zindex-smll-05 - 3; // 2

$zindex-smll-03: $zindex-smll-05 - 2; // 3

$zindex-smll-01: $zindex-smll-05 - 4; // 1

// Rotate Degrees
$rotateNull: 0deg;

$rotate-45: 45deg;

$rotate-minus-45: -45deg;

$rotate-90: $rotate-45 * 2; // 90deg

$rotate-minus-90: $rotate-minus-45 * 2; // -90deg

$rotate-180: $rotate-45 * 4; // 180deg

$rotate-minus-180: $rotate-minus-45 * 4; // -180deg

// Desktop & Mobile Responsive Break Points
$desk-conv-width1850: $large-fix-1000 + $large-fix-800 + $small-fix-50; // 1850px

$desk-conv-width1700: $large-fix-1000 + $large-fix-500 + $large-fix-200; // 1700px

$desk-conv-width1600: $large-fix-1000 + $large-fix-300 * 2; // 1600px

$desk-conv-width1599: $large-fix-1000 + $large-fix-300 * 2 - 1; // 1599px

$desk-conv-width1400: $large-fix-1000 + $large-fix-200 * 2; // 1400px

$desk-conv-width1440: $large-fix-1000 + $large-fix-200 * 2 + $small-fix-40; // 1440px

$desk-conv-width1300: $large-fix-1000 + $large-fix-300; // 1300px

$deak-conv-width1200: $large-fix-1000 + $large-fix-200; // 1200px

$tablet-conv-landwidth: $large-fix-1000 + $small-fix-20 + $small-fix-05 - 1; // 1024px

$tablet-conv-landwidth1023: $large-fix-1000 + $small-fix-20 + $small-fix-03; // 1023px Special, use just on special options

$laptop-height: $large-fix-900; // 900px

$tablet-conv-interwidth: $large-fix-800; // 800px

$tablet-conv-interwidthminus: $large-fix-800 - 1; // 799px Special, use just on special options

$tablet-conv-portwidth: $large-fix-500 + $large-fix-200 + $small-fix-60 + $small-fix-07 + 1; // 768px

$smart-conv-landwidth: $large-fix-500 + $large-fix-200 + $small-fix-60 + $small-fix-07; // 767px

$smart-conv-portwidth: $large-fix-300; // 300px

$smart-qx-portwidth320: $smart-conv-portwidth + $small-fix-20; // 320px

$smart-qx-portwidth200: $large-fix-200; // 200px

$smart-qx-portwidth220: $large-fix-200 + $small-fix-20; // 220px

$smart-conv-minland: $large-fix-200 * 2 + $small-fix-80; // 480px;

$smart-conv-minland-479: $smart-conv-minland - 1; // 479px;

$fluid-smart-width: $laptop-height + $small-fix-10 + 2; // 912px

// Simple Numbers Values
$oneVal: 1;

$tenVal: 10;

$twoVal: $oneVal * 2; // 2

$threeVal: $twoVal + 1; // 3

$fourVal: $twoVal * 2; // 4

$fiveVal: $tenVal / 2; // 5

$sevenVal: $fiveVal + 2; // 7

$eightVal: $sevenVal + 1; // 8

$fifteenVal: $tenVal + $fiveVal; // 15

$seventhVal: $fifteenVal + 2; // 17

$twentyVal: $tenVal * 2; // 20

$twentytwoVal: $twentyVal + $twoVal; // 22

$twentyfiveVal: $twentyVal + $fiveVal; // 25

$twentyseven: $twentyfiveVal + 2; // 27

$thirtyVal: $twentyVal + $tenVal; // 30

$thirtythreeVal: $thirtyVal + $threeVal; // 33

$thirthfiveVal: $thirtythreeVal + 2; // 35

$thirtysevenVal: $thirthfiveVal + 2; // 37

$fourtyVal: $thirthfiveVal + $fiveVal; // 40

$fourtytwoVal: $fourtyVal + $twoVal; // 42

$fourtyfiveVal: $fourtyVal + $fiveVal; // 45

$fourtysevenVal: $fourtyfiveVal + 2; // 47

$fiftyVal: $fourtyVal + $tenVal; // 50

$fiftytwoVal: $fiftyVal + $twoVal; // 52

$fiftyfiveVal: $fiftyVal + $fiveVal; // 55

$sixtyVal: $fiftyVal + $tenVal; // 60

$sistytwoVal: $sixtyVal + $twoVal; // 62

$sixtyfiveVal: $sixtyVal + $fiveVal; // 65

$seventyVal: $sixtyVal + $tenVal; // 70

$seventytwoVal: $seventyVal + $twoVal; // 72

$seventyfiveVal: $seventyVal + $fiveVal; // 75

$eightyVal: $seventyVal + $tenVal; // 80

$eighttwoVal: $eightyVal + $twoVal; // 82

$eightyfiveVal: $eightyVal + $fiveVal; // 85

$ninetyVal: $eightyVal + $tenVal; // 90

$ninetyfiveVal: $ninetyVal + $fiveVal; // 95

$hundredVal: $ninetyVal + $tenVal; // 100

$hundred2Val: $hundredVal * 2; // 200

$hundred3Val: $hundredVal  * 3; // 300

$hundred5Val: $hundredVal * 5; // 500

// Seconds Transitions
$nullSecs: 0s;

$halfSec: .5s;

$Sec-025: $halfSec / 2; // .25s

$oneSec: $halfSec * 2; // 1s

$one25Sec: $oneSec + $Sec-025; // 1.25s

$one50Sec: $oneSec + $halfSec; // 1.5s

$twoSec: $oneSec * 2; // 2s

$two25Sec: $twoSec + $Sec-025; // 2.25s

$two50Sec: $twoSec + $halfSec; // 2.5s

$threeSec: $twoSec + 1; // 3s

$three25Sec: $threeSec + $Sec-025; // 3.25s

$three50Sec: $threeSec + $halfSec; // 3.5s

$fourSec: $twoSec * 2; // 4s

$four25Sec: $fourSec + $Sec-025; // 4.25s

$four50Sec: $fourSec + $halfSec; // 4.5s

$fiveSec: $fourSec + 1; // 5s

$five25Sec: $fiveSec + $Sec-025; // 5.25s

$five50Sec: $fiveSec + $halfSec; // 5.5s

$sixSec: fiveSec + 1; // 6s

$six25Sec: $sixSec + $Sec-025; // 6.25s

$six50Sec: $sixSec + $halfSec; // 6.5s

$sevenSec: fourSec + 3; // 7s

$seven25Sec: $sevenSec + $Sec-025; // 7.25s

$seven50Sec: $sevenSec + $halfSec; // 7.5s 

$eightSec: $sevenSec + 1; // 8s

$eight25Sec: $eightSec + $Sec-025; // 8.25s

$eight50Sec: $eightSec + $halfSec; // 8.5s

$nineSec: $sevenSec + 2; // 9s

$nine25Sec: $nineSec + $Sec-025; // 9.25s

$nine50Sec: nineSec + $halfSec; // 9.5s

$sec-01: $halfSec - 0.4; // .1s

$Sec-02: $halfSec - 0.3; // .2s

$Sec-03: $halfSec - 0.2; // .3s

$Sec-04: $halfSec - 0.1; // .4s

$Sec-06: $halfSec + 0.1; // .6s

$Sec-07: $halfSec + 0.2; // .7s

$Sec-08: $halfSec + 0.3; // .8s

$Sec-09: $halfSec + 0.4; // .9s

// Viewport sizes
// Viewport width size = VW 
$onevw: 1vw; // 1% of viewport width = width: 1%

$twovw: $onevw + 1; // 2% of viewport width

$threevw: $twovw + 1; // 3% of viewport width

$fourvw: $threevw + 1; // 4% of viewport width

$fivevw: $fourvw + 1; // 5% of viewport width

$tenvw: $fivevw + 5; // 10% of viewport width

$twentyvw: $tenvw + $tenvw; // 20% of viewport width

$thirtyvw: $twentyvw + $tenvw; // 30% of viewport width

$fourtyvw: $thirtyvw + $tenvw; // 40% of viewport width

$fiftyvw: $fourtyvw+ $tenvw; // 50% of viewport width

$sixtyvw: $fiftyvw + $tenvw; // 60% of viewport width

$seventyvw: $sixtyvw + $tenvw; // 70% of viewport width

$eightyvw: $seventyvw + $tenvw; // 80% of viewport width

$ninetyvw: $eightyvw + $tenvw; // 90% of viewport width

$hundredvw: $ninetyvw + $tenvw; // 100% of viewport width

// Viewport height size = vh
$onevh: 1vh; // 1vh of viewport height = height: 1%

$twovh: $onevh + 1; // 2% of viewport height

$threevh: $twovh + 1; // 3% of viewport height

$fourvh: $threevh + 1; // 4% of viewport height

$fivevh: $fourvh + 1; // 5% of viewport height

$sevenvh: $fivevh + 2; // 7% of viewport height

$tenvh: $fivevh + 5; // 10% of viewport height

$twentyvh: $tenvh + $tenvh; // 20% of viewport height

$thirtyvh: $twentyvh + $tenvh; // 30% of viewport height

$fourtyvh: $thirtyvh + $tenvh; // 40% of viewport height

$fiftyvh: $fourtyvh + $tenvh; // 50% of viewport height

$sixtyvh: $fiftyvh + $tenvh; // 60% of viewport height

$seventyvh: $sixtyvh + $tenvh; // 70% of viewport height

$eightyvh: $seventyvh + $tenvh; // 80% of viewport height

$ninetyvh: $eightyvh + $tenvh; // 90% of viewport height

$hundredvh: $ninetyvh + $tenvh; // 100% of viewport height

// Font Icons
// Font Awesome
$fa-address-book: \f2b9; // content before

$fa-address-book-o: \f2ba;

$fa-address-card: \f2bb; 

$fa-address-card-o: \f2bc;

$fa-bandcamp: \f2d5;

$fa-bath: \f2cd;

$fa-id-card: \f2c2;

$fa-id-card-o: \f2c3;

$fa-eercast: \f2da;

$fa-envelope-open: \f2b6;

$fa-envelope-open-o: \f2b7;

$fa-etsy: \f2d7;

$fa-free-code-camp: \f2c5;

$fa-grav: \f2d6;

$fa-handshake-o: \f2b5;

$fa-id-badge: \f2c1;

$fa-imdb: \f2d8;

$fa-linode: \f2b8;

$fa-meetup: \f2e0;

$fa-microchip: \f2db;

$fa-podcast: \f2ce;

$fa-quora: \f2c4;

$fa-ravelry: \f2d9;

$fa-shower: \f2cc;

$fa-snowflake-o: \f2dc;

$fa-superpowers: \f2dd;

$fa-telegram: \f2c6;

$fa-thermometer-full: \f2c7;

$fa-thermometer-empty: \f2cb;


// Cursors
$curPointer: pointer;

$curMove: move; 

$curAuto: auto;

$curDefault: default;

$curText: text;

$curWait: wait;

$curHelp: help;

$curCrossHair: crosshair;